# ====================
# Backend (Java / Maven)
# ====================
HELP.md
target/
!backend/.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
backend/.env

### IDE / Editors ###
# Spring Tool Suite
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# VS Code
.vscode/

# ====================
# Frontend (Next.js / Node)
# ====================
# Node / npm / yarn
frontend/node_modules/
frontend/.pnp
frontend/.pnp.*
frontend/.yarn/*
!frontend/.yarn/patches
!frontend/.yarn/plugins
!frontend/.yarn/releases
!frontend/.yarn/versions

# Testing
frontend/coverage/

# Next.js build artifacts
frontend/.next/
frontend/out/
frontend/build/

# Misc / OS
frontend/.DS_Store
*.pem

# Debug logs
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/.pnpm-debug.log*

# Environment files
frontend/.env*

# Vercel
frontend/.vercel/

# TypeScript
frontend/*.tsbuildinfo
frontend/next-env.d.ts
